<div class="container">
    <br>
    <div class="row">
<!--        <div class="title">
            <h1>Spell Finder</h1>
        </div>-->
        <div class="col-sm-8 col-sm-offset-2">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <div class="form-group">
                    <label for="mots">
                        Mots clés
                    </label>
                    <input type="text" id="mots" class="form-control" formControlName="mots">
                </div>
                <div class="form-group">
                    <label formArrayName="component"
                        *ngFor="let order of form.controls.component.controls; let i = index">
                        {{componentsdata[i].name}}
                        <input type="checkbox" [formControlName]="i">
                    </label>
                    <!-- <input type="checkbox" formControlName="component"> Verbal
            <input type="checkbox" name="composante"  value="S" formControlName="component"> Somatic
            <input type="checkbox" name="composante" value="M" formControlName="component"> Material
    -->
                </div>
                <div class="form-group">
                    <label>
                        Level
                    </label>
                    <br>

                    <input type="number" name="level" class="form-control" formControlName="level">
                </div>
                <label formArrayName="class" *ngFor="let o of form.controls.class.controls; let i = index">
                    {{classdata[i].name}}
                    <input type="checkbox" [formControlName]="i">
                </label>

                <!-- <div class="form-group" >
            <label>
             Classe du sort
            </label>
            <br>
    
            <input type="checkbox" name="class" value="sorcerer/wizard"  formControlName="class">sorcerer/wizard  
            <input type="checkbox" name="class" value="ranger"  formControlName="class"> ranger
            <input type="checkbox" name="class" value="summoner"  formControlName="class"> summoner
            <input type="checkbox" name="class" value="inquisitor"  formControlName="class">inquisitor
            <input type="checkbox" name="class" value="antipaladin"  formControlName="class"> antipaladin
    
            <input type="checkbox" name="class" value="cleric/oracle"  formControlName="class"> cleric/oracle<br>
            <input type="checkbox" name="class" value="shaman"  formControlName="class"> shaman 
            <input type="checkbox" name="class" value="alchemist" formControlName="class"> alchemist
            <input type="checkbox" name="class" value="witch"  formControlName="class"> witch
            <input type="checkbox" name="class" value="druid"  formControlName="class"> druid
            <input type="checkbox" name="class" value="paladin"  formControlName="class"> paladin
            <input type="checkbox" name="class" value="bard"  formControlName="class">bard
    
            <input type="checkbox" name="class" value="magus"  formControlName="class"> magus
            <input type="checkbox" name="class" value="bloodrager" formControlName="class"> bloodrager
          </div>
    --> <br><br>
                <button class="btn btn-primary" type="submit">Rechercher</button>
            </form>
            <br>
            <br>
            <div id="Global">
                <h2>Results</h2>
                <br>
                <div id="gauche">
                    <table>
                        <tr>
                            <th>Spells</th>
                        </tr>
                        <tr *ngFor="let s of result;let i = index">
                            <!-- <td *ngIf="s.name!=''">Index: {{i+1}}</td> -->
                           <!--  <td>{{s.name}}</td> -->
                            <button mat-raised-button routerLink='/spell/{{s.name}}'>{{s.name}}</button>
                        </tr>
                    </table>
                </div>
                <div id="droite">
                    <table>
                        <tr>
                            <th>Monsters</th>
                        </tr>
                        <tr *ngFor="let m of result.monsters;let i = index">
                            <td *ngIf="m.name!=''">Index: {{i+1}}</td>
                            <td>{{m.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>