<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <fieldset>
                    <legend>Recherche de sorts dans la base de donnée</legend>

                    <div class="form-group">
                        <label for="mots">
                            Mots clés
                        </label>
                        <input type="text" id="mots" class="form-control" formControlName="mots">
                    </div>
                    <div class="form-group">
                        <label formArrayName="component"
                            *ngFor="let order of form.controls.component.controls; let i = index">
                            {{componentsdata[i].name}}
                            <input class="check" type="checkbox" [formControlName]="i">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Level
                        </label>
                        <br>

                        <input type="number" name="level" class="form-control" formControlName="level">
                    </div>
                    <label formArrayName="class" *ngFor="let o of form.controls.class.controls; let i = index">
                        {{classdata[i].name}}
                        <input class="check" type="checkbox" [formControlName]="i">
                    </label>

                    <br><br>
                    <button class="btn btn-primary" type="submit">Rechercher</button>

                </fieldset>
            </form>
            <br>
            <br>
            <div id="Global">
                <h2>Results</h2>
                <br>
                <div id="gauche">
                    <table>
                        <tr>
                            <th> </th>
                            <th>Spells</th>
                        </tr>
                        <tr *ngFor="let s of result;let i = index">
                            <td *ngIf="s.name!=''">{{i+1}}</td>
                            <td> <button mat-raised-button routerLink='/spell/{{s.name}}'>{{s.name}}</button></td>
                        </tr>
                    </table>
                </div>
                <div id="droite">

                </div>
            </div>
        </div>
    </div>
</div>