/* You can add global styles to this file, and also import other style files */
.title{
margin-bottom: 5%;
text-align: center;
}

#Global
{
    width:100%;
}
#Global #gauche {
    float:left;
    width:60%;
}
#Global #droite {
    margin-left:60%    
}

input.check{
margin-right: 15px;
}