/* You can add global styles to this file, and also import other style files */
.title{
margin-bottom: 5%;
text-align: center;
}

#Global
{
    width:100%;
}
#Global #gauche {
    float:left;
    width:30%;
  

}
#Global #droite {
    margin-left:30%  ;  
    margin-right:15%;
}

input.check{
margin-right: 15px;
}

   ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
}
   .spelldisplay{
text-align: center;

   }
.spelltable table, .spelltable tr, .spelltable td {
    border: 1px solid black;
}

.lign{
    text-align: center;
     
}
img {
	width: 300px;
	height: 400px;
}