table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    }
   .lign {
    font-family: monospace;
    border: thin solid #6495ed;
    padding: 5px;
    background-color:#EFF6FF;
    
    }
    td {
        font-family: monospace;
        border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    }
