<div id="Global" class="container spelltable">
<div class="container">

    <h1>{{name}}</h1>
<br>
   <div id="gauche">
<img src="assets/images/{{result.spell.name | lowercase}}.png">
   </div>
  <div id="droite">
<table>


    <tr>
      <td class="lign">
            <b>    Class</b>
        </td>
        <td>
            <ul *ngFor="let s of result.spell.class;let i = index">

                <li>
                        {{s}}
                </li>
            </ul>
        </td>
        
    
       </tr> 
       <tr>
            <td class="lign">  <b> Components </b></td>
            <td>
                <ul *ngFor="let s of result.spell.components;let i = index">
    
                    <li>
                            {{s}}
                    </li>
                </ul>
            </td>
            
        
           </tr> 
    <tr>
        
        <td class="lign">    <b> Spell Resistance </b></td>
        <td class="spelldisplay">{{result.spell.spell_resistance}}</td></tr>
    <tr>
          <td class="lign">  <b> Description  </b></td>
        <td class="spelldisplay">{{result.spell.description}}</td></tr>
 
        <tr>
        <td class="lign">
              <b>    Monsters</b>
          </td>
          <td>
              <ul *ngFor="let s of result.monsters;let i = index">
  
                  <li>
                          {{s}}
                  </li>
              </ul>
          </td>
          
      
         </tr> 
</table>
 


</div>
</div>
</div>